.row-fluid
  .span6.left-side
    == image_tag "logo.png"  
    p Сообщество разработчиков ПО в Казани
  .span6.right-side
    #right_side_content
      p#article Ближайшее событие:
      p#date 17 — 18 августа
      h1 Хакатон
      p#content
        | Сообщество казанских айтишников, совместно с казанским ИТ-парком, приглашает всех друзей из области ИТ — программистов, тестировщиков, верстальщиков, дизайнеров, менеджеров и всех остальных для интересного общения, обмена опытом и разработки новых совместных проектов в формате айтивечеринки "Хакатон".
        br
          br
            b Формат мероприятия:
            br
              | 24 часа нон-стоп. Собираемся. Знакомимся. Штурмуемся. Выбираем идеи. Делимся по командам. Кодим-кодим-кодим. И, вуаля, через сутки презентуемся!
      button
        a href="http://binkubator.timepad.ru/event/76547/"
        | Узнать больше и зарегистрироваться